{
  "@aws-cdk/core:enableStackNameDuplicates": "true",
  "aws-cdk:enableDiffNoFail": "true",
  "stack_prefix": "Sample",
  "account": "",
  "region": "ap-northeast-1",
  "key_name": "",
  "hosted_zone": "corp.example.com",
  "nat_gateway_eips": [
    "0.0.0.0/0"
  ],
  "admin_user_names": ["admin-user"],
  "environment_admin_user_names": ["environment-admin-user"],
  "security_audit_user_names": ["security-audit-user"],
  "data_scientist_user_names": ["data-scientist-user"],
  "redshift": {
    "master_user_password": ""
  }
}
